<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>David & Madolyn's Movie Ratings</title>
  <link rel="Stylesheet" href="style.css" />
</head>
<body class="query-page">
  <h1>Query Page</h1>
  <p>say waht</p>
</body>
</html>